<div class="cont">
    <div class="message">
        nos partenaires
        <div class="mes">
            consulter les plus grandes entreprises en Tunisie et dans le monde entier  
        </div>
        <button class="btn"> voir plus</button>
    </div>
    <div class="images">
        <img class="image1" src="../assets/img/ent1.png" alt="Image 1">
        <img class="image2" src="../assets/img/ent2.png" alt="Image 2">
        <img class="image3" src="../assets/img/ent3.png" alt="Image 3">
        <img class="image4" src="../assets/img/int4.png" alt="Image 4">
        <img class="image5" src="../assets/img/int5.png" alt="Image 5">
    </div>

</div>
