<div class="container">
    <div class="images">
        <img class="image1" src="../assets/img/blog1.png" alt="Image 1">
        <img class="image2" src="../assets/img/blog2.png" alt="Image 2">
        <img class="image3" src="../assets/img/blog3.png" alt="Image 3">
        <img class="image4" src="../assets/img/blog4.png" alt="Image 4">
    </div>
    <div class="message">
        Chercher un stage
        <div class="mes">
            vous étes un étudiant à la recherche d'un stage .. c'est le bon endroit  
        </div>
        <button class="btn">voir plus</button>
    </div>
</div>
