<div class="hero">

    <nav>
        <img src="" class="logo">
        <ul>
           
            <li><a routerLink="/home">Home</a></li>
            <li><a href="#">Stage</a></li>
            <li><a href="#">Entreprise</a></li>
            <li><a href="#">prof</a></li>
            
             

        </ul>
        

</nav>
    <video autoplay loop muted plays-inline >
        <source  src="../assets/img/arriere.mp4">
        
    </video>
    
    <div class="form-container">
     
        <form (ngSubmit)="onSubmit()">
            <label class="nom">Username</label><br>
            <input [(ngModel)]="user.email" name="email" type="email" required>
            <label  class="nom">Password </label><br>
           
            <label class="error">{{errorMessage}}</label>
            <input [(ngModel)]="user.password" name="password" type="password" required>
            <button  class="login" type="submit">Save User</button>
          </form>
    </div>
   

</div>
