<header>
 
</header>

<main>
  <div>
  <div class="hero">
    <video class="video" autoplay loop muted plays-inline>
        <source src="../assets/img/vid1.mp4" controls>
         </video>
    <nav>
            <img src="../assets/img/logo.png" class="logo">
            <ul>
               
                <li><a href="#">Home</a></li>
                <li><a routerLink="/field">Stage</a></li>
                <li><a  routerLink="/partner">entreprise</a>
                </li>
                <li><a routerLink="/encadrant">prof</a></li>
                <li><a routerLink="/tabbord">dashnoard</a></li>
                <li><a routerLink="/pfe">projet Fin Etude</a></li>
                
                 

            </ul>
            <a class="button" routerLink="/login">connection</a>

    </nav>
   
    <div class="hero-content">
      <h1>enicar'stage</h1>
      <p>on se forme ensemble ..</p>
    </div>
  </div>
</div>
</main>
<app-blogposts></app-blogposts>
<app-entrprise></app-entrprise>
<app-prof></app-prof>


